html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV */
nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
}

.left-nav {
    padding-top: 5px;
}

.left-nav img {
    width: 240px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
}

li {
    text-decoration: none;
}

a { 
    text-decoration: none;
    color: inherit;
}

a, button:hover {
    cursor:pointer
}

/* HERO */

.hero-image {
    height: 600px;
}

/* WELCOME */

.welcome-container {
    height: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #000;
    display: flex;
}

.welcome-container svg {
    width: 200px;
    color: white;
    /* position: fixed; */
    margin-left: -12000px;
    margin-top: 210px;
}

.video-container {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: row;
    /* padding-top: 10%; */
}

.video-container h1 {
    color: white;
}

.book-video {
    /* border: 2px solid red; */
    float: inline-end;
    z-index: 0;
}

.play-button-container {
    border: 2px solid green;
    width: 50px;
    height: 50px;
    background-color: royalblue;
    z-index: 100;

}

#play-button {
    background: royalblue;
    width: 50px;
    height: 50px;
    color: black;

}


/* BOOK INFO */

.book-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    /* border: 2px solid blue; */
}

.book-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.book-container img {
    /* height: 30%; */
    width: 100%;
}

.book-container button {
    width: 100px;
    height: 25px;
    background-color: #1c3e4a;
    color: #eee;
    font-size: 18px;
    margin-top: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    width: 80%;
    height: fit-content;
    text-align: justify;
}

.modal-content h1 {
    margin-bottom: -20px;
}
  
/* The Close Button */
.close {
    color: #111;
    float: right;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    background-color: transparent;
    border: none;

}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reader-container {
    display: flex;
    flex-direction: row;
}

.rc-left-column {
    width: 17.5%;
    margin-right: 10%;
    border-right: 2px solid #777;
}

.rc-left-column h3 {
    width: 100%;
}

.reader-container button {
    margin-top: 20px;
}

/* WLR */

.wlr-container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-evenly;
}

.wlr-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px auto;
}

.wlr-container>div {
    text-align: center;
}

.audio-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wlr-1, .wlr-2, .wlr-3 {
    width: 380px;
    background-color: #efefef;
}

.audio-list {
    display: flex;
    flex-direction: column;
}

/* BLOG */

.blog-container {
    width: 100%;
    height: 400px;
    padding: 50px 75px;
    margin-top: 20px;
    background-color: #efefef;
}

/* ABOUT */

.about-container {
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.about-text-container {
    width: 60%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 5%;
}

.about-container h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.about-container img {
    width: 300px;
    height: 241px;
    margin-top: 50px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #eee;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.follow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
}

.follow-container img {
    width: 20px;
}