<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Speak To The Rock Ministries</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <nav id="top">
            <ul class="left-nav">
                <li><a href="top">Speak to the Rock</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="#watch">Watch</a></li>
                <li><a href="#listen">Listen</a></li>
                <li><a href="#read">Read</a></li>
            </ul>
        </nav>
        <!-- <div class="hero-image">
            <img src="">
        </div> -->

        <div class="welcome-container">
            <h1 class="welcome-header">Welcome</h1>

            <p class="welcome-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam assumenda fugiat earum temporibus, eligendi quis commodi repudiandae. Perspiciatis illo aspernatur, quia earum dolore maiores amet saepe voluptatum, vitae architecto modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maiores, perferendis reprehenderit fuga quae facere! Temporibus, unde tenetur! Ullam veritatis voluptas quaerat fuga et dolore odit dolorum minus impedit iure!</p>

            <!-- <iframe src="https://player.vimeo.com/video/37783286?autoplay=1&color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
        </div>

        <div class="book-info-container">
            <div class="book-container">
                <img src="#">
                <div class="book-button-container">
                    <div class="button-container">
                        <button id="buy-button"><a href="https://www.amazon.com/dp/B074PYWTMB/ref=rdr_kindle_ext_tmb">Buy Book</a></button>
                        <button id="myBtn">Preview</button>
                    </div>
                </div>
            </div>
            <div class="video-container">
                <video class="book-video" controls>
                    <source src="../media/job-unseen.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            </div>
        </div>
        
        <div class="wlr-container">
            <div class="wlr-1" id="watch">
                <h1>Watch</h1>
            </div>
            <div class="wlr-2" id="listen">
                <h1>Listen</h1>
            </div>
            <div class="wlr-3" id="read">
                <h1>Read</h1>
            </div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="close-button-container">
                    <button class="close">x</button>
                </div>

                <div class="reader-container">
                    <div class="rc-left-column">
                    <h3>Job Unseen: The story of Job never told...until now</h3>
                    <button id="reader-buy-button">
                        <a href="https://www.amazon.com/Job-Unseen-Story-Never-Until-ebook/dp/B074PYWTMB/ref=sr_1_1?dchild=1&keywords=job+unseen+david+baird&qid=1589668615&sr=8-1">Buy Book</a>
                    </button>
                    </div>
                    <div id='Kindle-Reader'></div>
                    <script type='text/javascript' src='http://kindleweb.s3.amazonaws.com/app/KindleReader-min.js'></script>
                    <script>KindleReader.LoadSample(
                        {
                        containerID: 'Kindle-Reader', 
                        width: '600', 
                        height: '800',
                        asin: 'B074PYWTMB',
                        assoctag: '',
                        }
                    );
                    </script>
                </div>
            </div>
        </div>

        <footer>
            <p>&copy;2020 Speak To The Rock Ministries</p>
            <div class="icon-container">
            </div>
        </footer>

        
        
        
        
        
        
        <!-- <script src="https://player.vimeo.com/api/player.js"></script> -->
        <script src="../scripts/main.js"></script>
        <!-- <script src="https://js.stripe.com/v3/"></script> -->
        
    </body>
</html>