body {
    font-family: Arial, Helvetica, sans-serif;
}

.video-container {
    padding: 20px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

.button-container {
    padding-left: 35%;
    padding-right: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 150px;
    padding: 5px;
    background-color: royalblue;
    color: white;
    border-radius: 2px;
    font-size: 18px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    width: 80%;
    height: fit-content;
    text-align: justify;
}

.modal-content h1 {
    margin-bottom: -20px;
}
  
/* The Close Button */
.close {
    color: #111;
    float: right;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    background-color: transparent;
    border: none;

}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reader-container {
    display: flex;
    flex-direction: row;
}

.rc-left-column {
    width: 17.5%;
    margin-right: 10%;
    border-right: 2px solid #777;
}

.rc-left-column h3 {
    width: 100%;
    border: 2px solid red;
}

.reader-container button {
    margin-top: 20px;
}


form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    margin:20px 0;
    position:relative;
    display:inline-block;
}
    
span {
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
}

input {
    padding:10px;
    margin: 0 auto;
    margin-bottom: -10px;
    width: 80%;
}

select {
    margin: 10px 0;
    height: 37px;
    width: 90%;
    border: 0px solid transparent;
    border-bottom: 1px solid #222;
    font-size: 16px;
    color: #333;    
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: white;
}


input:focus + span, input:not(:placeholder-shown) + span {
    opacity:0.5;
    transform: scale(0.75) translateY(-100%) translateX(-20px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
}

  /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
  
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
  
.StripeElement--invalid {
    border-color: #fa755a;
}
  
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.submit-payment-button-container {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-payment {
    width: auto;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    background-color: royalblue;
    color: white;
    padding: 5px;
}