.right-nav {
    margin-right: 16px;
}

.watch-container {
    margin-top: 40px;
}

.watch-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 72px;
    padding-right: 72px;
    margin-top: 32px;
}

.video1, .video2, .video3, .video4 {
    width: 640px;
    height: 360px;
}

.video2, .video4 {
    margin-left: 32px;
}

.video3 {
    margin-left: 0%;
}

/* QUERY */

@media (max-width: 1353px) {
    .watch-container, .watch-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .video1, .video2, .video3, .video4 {
        margin: 32px 0 0 0;
    }
}

@media (max-width: 760px) {
    .right-nav {
        margin-right: 32px;
    }

    .right-nav a{
        margin-right: 16px;
    }

    .video1, .video2, .video3, .video4 {
        height: 180px;
        width: 320px;
    }
}

@media (max-width: 480px) {
    nav {
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        padding-left: 0;
    }

    nav .logo {
        width: 200px;
        margin-left: -50px;
        margin-top: 8px;
    }

    .spacer-column {
        width: 100px;
    }

    .right-nav {
        justify-content: space-around;
        margin: 0 40px 0 0;
        padding: 0;
    }

}